<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="add-post">
  <h2>
    Creat a New Post!
  </h2>
  <form class="new-post-form">
    <label for="title">
    Post Title:
    </label>
    <br />
    <textarea id="title" name="post-title" rows="2" cols="30">
      {{title}}
    </textarea>
    <br />
    <label for="body">
      Body:
    </label>
    <br />
    <textarea id="body" name="body" rows="5" cols="30">
      {{body}}
    </textarea>
    <br />
    </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
  </form>
</div>

  
  <div class="col-md-6 project-list">
    <h3>Current Blogs:</h3>
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/{{id}}">{{title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
      </div>
    </div>
    
  </div>

</div>

<script src="./js/addPost.js"></script>